
{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Welcome to the Booking System</h1>
  <p>Please <a href="/login">log in</a> to access the dashboard.</p>
{% endblock %}

<!-- 
    <title>Database Management</title>
  </head>
  <body>
    <h1>Database Management</h1>
    <ul>
      <li><a href="/add_column">Add Column</a></li>
    </ul>
    <ul>
      <li><a href="/drop_column">Drop Column</a></li>
    </ul>
    <ul>
      <li><a href="/insert_user">Insert New User</a></li>
    </ul>
    <ul>
      <li><a href="/register">Insert New User</a></li>
    </ul>
  </body>
</html>
-->