<!DOCTYPE html>
<html>
  <head>
    <title>Add Column</title>
  </head>
  <body>
    <h1>Add Column</h1>
    <form action="/add_column" method="post">
      <label for="table_name">Table Name:</label>
      <input type="text" id="table_name" name="table_name" required><br><br>
      <label for="column_name">Column Name:</label>
      <input type="text" id="column_name" name="column_name"><br><br>
      <label for="column_type">Column Type:</label>
      <input type="text" id="column_type" name="column_type"><br><br>
      <input type="submit" value="Add Column Type">
    </form>
  </body>
</html>
